.root {
  padding: 0;
  margin: 0;
}

a {
  color: blue;
  margin: 12px;
}

body {
  background-color: grey;
}

.container-fluid {
  box-sizing: content-box;
  max-width: 800px;
  background-color: whitesmoke;
}

img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border: black solid;
}

.img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center top;
  border-radius: 100%;
}

#imgwork {
  height: 256px;
  width: 256px;
  object-fit: cover;
  object-position: right top;
}

#imgedu {
  height: 256px;
  width: 256px;
  object-fit: contain;
}
